.fill-all {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  &.active {
    background: #666666;
    opacity: .5;
  }
}
.container-modal {
  width: 520px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -260px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
  background: white;
  .container-modal-wrapper {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    .header {
      text-align: center;
    }
    .content {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 40px;
      font-family: Roboto;
      h2 {
        font-size: 30px;
        font-weight: 400;
      }
      p {
        font-size: 30px;
        font-weight: 100;
      }
      form {
        width: fit-content;
        padding-top: 40px;
        margin: 0 auto;
        input[type="email"] {
          height: 30px;
          padding-left: 10px;
          border: 1px solid #666666;
          width: 250px;
          font-size: 13px !important;
          border-radius: 0;
          margin-bottom: 20px;
        }
        input[type="submit"] {
          height: 45px;
          width: 250px;
          text-transform: uppercase;
          position: relative;
          color: #ffffff;
          background-color: #d32f2f;
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          text-decoration: none;
          letter-spacing: -0.3px;
          border: 1px solid #d32f2f;
          cursor: pointer;
          &:hover {
            background-color: #f44336;
            border: 1px solid #f44336;
          }
        }
      }
    }
  }
}