html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
input, select, textarea {
  margin:0;
  padding:0;
  font-size:0.85em;
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
}

.clearfix{
  clear: both;
}
.no-cursor {
  cursor: none;
}
.block-title {
  display: block;
  color: #515151;
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 90px;
  .decor{
    position: relative;
    display: block;
    background-color: #f44336;
    height: 7px;
    width: 160px;
    margin: 0 auto;
    margin-top: 29px;
  }
  .line {
    position: relative;
    width: fit-content;
    height: 46px;
    margin: 0 auto;
    h3 {
      display: inline;
      float: left;
      font-weight: bold;

      &:after {
        content: '';
        display: block;
        width: 0%;
        margin-top: -14px;
        border-bottom: 15px solid #f44336;
        transition: .5s;
      }
    }
    span {
      font-weight: 100;
    }
  }
}

.block-hr {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.3px;
  border: 1px solid #d32f2f;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 36px;
  display: inline-block;
  &:hover {
    border: 1px solid #f44336;
    background: #f44336;
  }
}

.cont-block-hr {
  position: relative;
  text-align: center;
  .block-hr {
    position: relative;
    color: #ffffff;
    background-color: #d32f2f;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.3px;
    border: 1px solid #d32f2f;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 27px;
    display: inline-block;
    &:hover {
      background-color: #f44336;
      border: 1px solid #f44336;
    }

  }
  i {
    font-family: FontAwesome;
    color: white;
    &.first {
      position: absolute;
      left: 20px;
      top: 16px;
    }
    &.second {
      position: absolute;
      right: 20px;
      top: 16px;
    }
  }
}

.gray {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .4;
  background: #000002;
  -webkit-transition: .6s;
  transition: .6s;
}

header {
  position: relative;
  z-index: 3;
  .container-header{
    background-color: #ffffff;
    border-bottom: 3px solid #7a7a7b;
    .container-header-wrapper{
      position: relative;
      height: 93px;
      width: 1170px;
      margin: 0 auto;
      .logo{
        margin-left: 29px;
        img {
          margin-top: 5px;
        }
      }
      .header-menu{
        position: relative;
        float: right;
        margin-top: 37px;
        li {
          position: relative;
          list-style-type: none;
          display: inline-block;
          margin-left: 26px;
          margin-right: 0px;
          .basic-hr{
            color: #000000;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: -0.3px;
            &:hover {
              color: #d32f2f;
            }
          }
          .menu-additional-container {
            display: none;
            position: absolute;
            top: 11px;
            left: -47px;
            padding-top: 10px;
            .menu-additional {
              position: relative;
              background-color: #ffffff;
              ul {
                height: auto;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 0px;
                padding-bottom: 18px;
                li {
                  list-style-type: none;
                  height: auto;
                  display: block;
                  margin-right: 0px;
                  margin-left: 0px;
                  margin-bottom: 0px;
                  margin-top: 20px;
                  a {
                    display: block;
                    color: #000000;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    letter-spacing: -0.3px;
                    padding-top: 0px;
                    white-space: nowrap;
                    height: 100%;
                    &:hover {
                      color: #d32f2f;
                    }
                  }
                }
              }

            }
          }
        }
      }
      .block-basket{
        position: relative;
        float: right;
        margin-top: 37px;
        margin-left: 40px;
        margin-right: 107px;
        a{
          position: relative;
          color: #000000;
          font-size: 14px;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: -0.3px;
          padding-left: 24px;
          &:hover {
            color: #d32f2f;
          }
          &:before {
            position: absolute;
            left: 0px;
            font-family: FontAwesome;
            font-size: 18px;
            content: '\f07a';
          }
        }
      }
      .block-search{
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        margin-top: 25px;
        margin-left: 30px;
        .search-block-cont{
          &.active{
            .input-search{
              display: none;
            }
            .btn-search{
              float: right;
              background-color: #d32f2f;
              border: none;
              &:after {
                color: white;
              }
            }
          }
          form {
            .btn-search{
              display: block;
              float: right;
              outline: none;
              border: 0px;
              background-color: #ffffff;
              height: 40px;
              width: 45px;
              border: 1px solid #959595;
              &:after{
                font-family: FontAwesome;
                content: '\f002';
                position: relative;
                right: 0px;
                top: -1px;
                display: block;
                color: #303030;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
              }
            }
            .input-search{
              position: relative;
              display: none;
              height: 40px;
              color: #000000;
              font-size: 12px;
              font-family: 'Lato', sans-serif;
              font-style: italic;
              background-color: #ffffff;
              top: 0px;
              outline: none;
              width: 240px;
              transition: left .2s linear;
              border: 1px solid #959595;
              border-right: 0px;
              padding-left: 15px;
              padding-right: 15px;

            }



          }
        }
      }

    }
  }
}
.container-categories {
  position: relative;
  background-color: white;
  &.staff {
    .container-categories-wrapper {
      height: auto;
      &:hover {
        .block-title {
          h3 {
            &:after {
              width: 101%;
            }
          }
        }
      }
      .block-title {
        margin-bottom: 100px;
      }
    }
  }
  &.chosen {
    .block-title {
      margin-bottom: 100px;
    }
  }
  .container-categories-wrapper {
    width: 1170px;
    padding-bottom: 120px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: #303030;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .line {
      margin: 0 auto;
    }
    .block-title {
      display: block;
      color: #515151;
      font-size: 42px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      padding-top: 100px;
    }
    .decor {
      position: relative;
      display: block;
      background-color: #f44336;
      height: 7px;
      width: 160px;
      margin: 0 auto;
      margin-top: 29px;
    }
    .block-pictures {
      width: 1100px;
      height: 830px;
      margin: 0 auto;
      float: none;
      .item {
        position: relative;
        width: 275px;
        height: 275px;
        color: white;
        &.vertical {
          height: 550px;
          img {
            margin-left: -280px;
          }
        }
        &.horizontal {
          width: 550px;
          .description {
            left: 52px;
            width: 450px;
          }
        }
        img {
          transform: scale(1.05);
        }
        .block-hr {
          position: absolute;
          margin-top: -25px;
          margin-left: -95px;
          left: 50%;
          top: 50%;
          z-index: 6;
          opacity: 0;
          transition: 0.5s;
        }
        .description {
          position: absolute;
          width: 180px;
          left: 50px;
          bottom: 25px;
          text-align: center;
          z-index: 2;
          h3 {
            left: 0;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 20px;
            line-height: 50px !important;
            text-transform: uppercase;
          }
          h4 {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .gradient {
          height: 137px !important;
          color: white;
          z-index: 3;
          i {
            &:before {
              font-size: 28px;
            }
          }
          .before {
            display: inline-block;
            width: 50%;
            float: left;
            float: left;
            font-family: FontAwesome;
            left: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: left;
            padding-left: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
          .after {
            display: inline-block;
            width: 50%;
            float: left;
            font-family: FontAwesome;
            right: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: right;
            padding-right: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
    .filters {
      width: 1170px;
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 30px;
      padding: 0 48px;
      height: 60px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      border-bottom: 1px solid #9e9e9e;
      cursor: default;
      .cont-select{
        position: relative;
        display: inline-block;
        float: left;
        width: 140px;

        .select2 {
          width: 140px !important;
        }

        .select2-dropdown {
          border-top: none !important;
        }
        .select2-selection {
          outline: none !important;
        }
        .select2-container--default .select2-selection--single {
          width: 140px;
          background-color: #fff;
          border: 1px solid #d6d6d6;
          border-top-left-radius: 5px !important;
          border-top-right-radius: 5px !important;
          &[aria-expanded=true] {
            border-bottom: none;
          }
        }
        .select2-container .select2-selection--single {
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          height: 42px !important;
          user-select: none;
          -webkit-user-select: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
          text-align: left;
          color: #303030;
          line-height: 42px !important;
          font-weight: 400;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
          border-color: #fff transparent transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          height: 0;
          left: 50%;
          margin-left: -4px;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          width: 0;
          &:after {
            font-family: FontAwesome;
            content: '\f078';
            position: absolute;
            right: -2px;
            top: -4px;
            display: inline-block;
            color: #8c8c8c;
            cursor: pointer;
            font-size: 15px;
          }
        }


      }

      input {
        display: none;
        &:checked {
          +label {
            height: 42px;
            line-height: 42px;
            width: 110px;
            background: #f44336;
            border: none;
            color: white;
            &.first, &.last {
              width: 111px;
            }
          }
        }
      }
      .btn {
        display: inline-block;
        float: left;
        width: 110px;
        height: 40px;
        line-height: 40px;
        background: white;
        text-align: center;
        cursor: pointer;
        border: 1px solid #d6d6d6;
        font-size: 14px;
        font-weight: 400;
        &.first {
          border-right: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          &:hover {
            width: 111px;
          }
        }
        &.center {
          border-left: 0;
          border-right: 0;
        }
        &.last {
          border-left: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          &:hover {
            width: 111px;
          }
        }
        &:hover {
          height: 42px;
          line-height: 42px;
          width: 110px;
          background: #f44336;
          border: none;
          color: white;
        }

        &.big {
          width: 140px;
        }
        &.dropdown {
          position: relative;
          width: 130px;
          text-align: left;
          padding-left: 8px;
          &:after {
            font-family: FontAwesome;
            content: '\f078';
            position: absolute;
            right: 10px;
            top: 0px;
            display: inline-block;
            color: #8c8c8c;
            cursor: pointer;
            font-size: 15px;
          }
        }
      }

      .text-span {
        display: inline-block;
        float: left;
        margin-left: 97px;
        text-transform: uppercase;
        line-height: 42px;
        font-size: 12px;
      }
    }
  }
}

.container-news {
  position: relative;
  background-color: #e9f0fd;
  &.all {
    padding-top: 60px;
    padding-bottom: 60px;
    .news-date {
      transition: .5s;
    }
  }
  .container-news-wrapper {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    &.page {
      padding-left: 68px;
      .item {
        margin-right: 38px !important;
        &:nth-child(4n) {
          margin-right: 0 !important;
        }
      }
    }
    .line {
      margin: 0 auto;
    }
    h5 {
      font-size: 20px;
      font-style: italic;
      font-weight: 100;
      color: #606060;
      text-transform: none;
    }
    .block-title {
      display: block;
      color: #515151;
      font-size: 42px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      padding-top: 100px;
    }
    .decor {
      position: relative;
      display: block;
      background-color: #f44336;
      height: 7px;
      width: 160px;
      margin: 0 auto;
      margin-top: 29px;
    }
    .owl-carousel-ladder-news{
      position: relative;
      margin-top: 100px;
      margin-bottom: 134px;
      margin-left: 30px;
      margin-right: 30px;
      .item{
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        position: relative;
        height: 292px;
        width: 255px;
        margin-right: 30px;
        margin-left: 0px;
        &:hover{
          .news-info-gal{
            .bl-title{
              a{
                color: #d32f2f;
              }
            }
          }
          .news-date{
            background-color: #d32f2f;
          }
        }
        .img-news{
          z-index: 1;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 253px;
          height: 223px;
        }
        .news-date{
          z-index: 2;
          position: absolute;
          height: 65px;
          width: 65px;
          top: 0px;
          right: 0px;
          background-color: #212121;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 15px;
          color: white;
          text-transform: none;
          line-height: 25px;
          padding-top: 9px;
          overflow: hidden;
          box-sizing: border-box;
          transition: .5s;
        }
        .news-info-gal{
          z-index: 2;
          position: absolute;
          height: 70px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-color: #f8fcfe;
          text-align: left;
          text-transform: none;
          padding-top: 10px;
          padding-left: 10px;
          box-sizing: border-box;
          .bl-title{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 18px;
            a{
              color: #717171;
              text-decoration: none;
            }
          }
          .add-info{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #717171;
            margin-top: 10px;
            .vline{
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
      .owl-prev {
        position: absolute;
        left: -30px;
        top: 95px;
        height: 94px;
        width: 30px;
        &:after {
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f104';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #f6f9fe;
        }
      }
      .owl-next{
        position: absolute;
        right: 29px;
        top: 95px;
        height: 94px;
        width: 30px;
        &:after {
          content: '';
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f105';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #f6f9fe;
        }
      }
      .owl-dots{
        display: none;
      }

    }

    .all {
      .item {
        display: inline-block;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        position: relative;
        height: 292px;
        width: 255px;
        margin-right: 30px;
        margin-bottom: 30px;
        &:hover{
          .news-info-gal{
            .bl-title{
              a{
                color: #d32f2f;
              }
            }
          }
          .news-date{
            background-color: #d32f2f;
          }
        }
        .img-news{
          z-index: 1;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 253px;
          height: 223px;
        }
        .news-date{
          z-index: 2;
          position: absolute;
          height: 65px;
          width: 65px;
          top: 0px;
          right: 0px;
          background-color: #212121;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 15px;
          color: white;
          text-transform: none;
          line-height: 25px;
          padding-top: 9px;
          overflow: hidden;
          box-sizing: border-box;
        }
        .news-info-gal{
          z-index: 2;
          position: absolute;
          height: 70px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-color: #f8fcfe;
          text-align: left;
          text-transform: none;
          padding-top: 10px;
          padding-left: 10px;
          box-sizing: border-box;
          .bl-title{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 18px;
            a{
              color: #717171;
              text-decoration: none;
            }
          }
          .add-info{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #717171;
            margin-top: 10px;
            .vline{
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }

  }
}

.container-shopping-cart {
  position: relative;
  .container-shopping-cart-wrapper {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    h3 {
      cursor: default !important;
    }
    h4 {
      margin-top: 15px;
      margin-bottom: 50px;
      font: italic 16px Lato !important;
      text-transform: none;
    }
    .cart {
      width: 1100px;
      margin: 0 auto;
      text-align: left;
      .column-1 {
        display: inline-block;
        float: left;
        width: 90px;
        padding: 0 10px;
      }
      .column-2 {
        display: inline-block;
        float: left;
        width: 905px;
        padding: 0 10px;
      }
      .column-3 {
        display: inline-block;
        float: left;
        width: 45px;
        padding: 0 10px;
      }
      .caption {
        font-family: Roboto;
        font-size: 12px;
        line-height: 30px;
        color: #909090;
        text-transform: uppercase;
        border-bottom: 1px solid #e7e7e7;
      }
      .items {
        margin-bottom: 40px;
        .item {
          padding: 18px 0;
          border-bottom: 1px solid #e7e7e7;
          .img {
            width: 90px;
            height: 90px;
            background: #f7f7f7;
            border: 1px solid #e7e7e7;
          }
          h3 {
            margin-top: 28px;
            font: bold 17px Roboto;
            color: #303030;
          }
          p {
            font-size: 13px;
            font-style: italic;
            color: #606060;
            line-height: 20px;
          }
          i {
            font-family: FontAwesome;
            line-height: 90px;
            color: #8c8c8c;
            cursor: pointer;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
          }
        }
        .column-3 {
          text-align: center;
        }
      }
    }

    .form {
      width: 1100px;
      margin: 0 auto;
      margin-bottom: 150px;
      padding: 80px 0;
      border: 1px solid #e7e7e7;
      .block-title {
        padding-top: 0 !important;
      }
      form {
        width: 550px;
        margin: 0 auto;
        line-height: 25px;
        text-align: left;
        font-family: Roboto;
        font-size: 13px;
        color: #606060;
        p {
          margin-top: 30px;
          margin-bottom: 5px;
          text-transform: uppercase;
          color: #909090;
          font-size: 12px;
        }
        input {
          height: 35px;
          padding-left: 10px;
          border: 1px solid #e5e5e5;
          width: 100%;
          font-size: 13px !important;
          &.half {
            width: 50%;
          }
          &[type="submit"] {
            margin-top: 90px;
            margin-left: 180px;
            padding: 0 !important;
            width: 190px;
            height: 50px;line-height: 50px;
            background: #d32f2f;
            color: white;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 14px !important;
            font-weight: bold;
            &:hover {
              background: #f44336;
            }
          }
        }

        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #e5e5e5;
          resize: none;
          font-size: 13px !important;
        }

      }
    }
  }
}
.container-crubms {
  position: relative;
  height: 50px;
  background: #bdbdbd;
  .container-crumbs-wrapper {
    width: 1170px;
    margin: 0 auto;
    ul {
      line-height: 50px;
      li {
        display: inline;
        padding-right: 30px;
        &.current {
          a {
            color: #fff;
          }
        }
        a {
          position: relative;
          color: #000;
          text-decoration: none;
          font-size: 13px;
          font-family: Roboto;
          &:hover {
            color: #f44336;
          }
          &:after {
            position: absolute;
            right: -20px;
            top:-5px;
            line-height: 26px;
            font-family: FontAwesome;
            font-size: 10px;
            content: '\f054';
          }
        }

        &:last-child a:after {
          content: '' !important;
        }
      }
    }
  }
}
.container-home-galery, .container-events {
  position: relative;
  background-color: #000000;
  &.staff {
    .container-events-wrapper {
      h1 {
        width: 405px !important;
        left: 380px !important;
      }
    }
  }
  &.news {
    .container-events-wrapper {
      .container-events-content-wrapper {
        h1 {
          width: 480px !important;
        }
      }
    }
  }
  .container-events-wrapper {
    height: 600px;
    margin: 0 auto;
    background-image: url("../images/events-entertainment.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: default;
    &.about-us {
      height: 390px;
      h1 {
        width: 220px !important;
        left: 475px !important;
      }
    }
    .gray {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .4;
    }
    .container-events-content-wrapper {
      position: relative;
      width: 1170px;
      height: 600px;
      margin: 0 auto;
      color: white;
      font-family: Lato;
      font-weight: 100;
      font-size: 24px;
      h1 {
        position: absolute;
        display: block;
        width: 526px;
        height: 37px;
        left: 310px;
        border-bottom: 15px solid #f44336;
        margin-top: 85px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-family: Roboto;
        font-weight: 500;
        font-size: 44px;
      }
      .description {
        width: 710px;
        margin: 0 auto;
        padding-top: 200px;
      }
      .follow {
        width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        h2 {
          display: inline;
          text-transform: uppercase;
        }
        ul {
          margin-top: 30px;
          margin-left: 25px;
          li {
            position: relative;
            display: inline-block;
            width: 75px;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
            a {
              &:before {
                position: absolute;
                left: 0px;
                line-height: 26px;
                font-family: FontAwesome;
                font-size: 55px;
                color: white;
              }
            }
            &#youtube {
              margin-right: 11px;
              :before {
                content: '\f16a';
                font-size: 62px;
              }
            }
            &#inst {
              :before {
                content: '\f16d';
              }
            }
            &#fbook {
              :before {
                content: '\f082';
              }
            }
            &#twit {
              :before {
                content: '\f081';
              }
            }
            &#linkedin {
              :before {
                content: '\f08c';
              }
            }
          }
        }
      }
    }
  }




  .container-home-galery-wrapper {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    height: 600px;
    z-index: 1;
    .galery-slide-block{
      box-sizing: border-box;
      position: absolute;
      z-index: 5;
      display: block;
      width: 100%;
      height: 600px;
      color: white;
      text-align: center;
      overflow: hidden;

      .block-title {
        a {
          display: block !important;
          clear: both;
          width: 85px;
          top: 35px;
          margin: 0 auto !important;
        }
        &:hover {
          h3 {
            &:after {
              width: 101%;
            }
          }
        }
      }

      &.galery-first{
        top: 0px;
        left: 0px;
        width: 33.33%;
        .img-galery{
          top: 0px;
          left: 0px;
        }
      }
      &.galery-second{
        width: 33.33%;
        top: 0px;
        left: 33.33%;
        .img-galery{
          top: 0px;
          left: -33.33%;
        }
      }
      &.galery-third{
        width: 33.33%;
        top: 0px;
        right: 0px;
        .img-galery{
          top: 0px;
          right: 0px;
        }
      }
      .img-galery{
        position: absolute;
        z-index: 1;
        &.filter{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }

      .cont-desc{
        position: relative;
        z-index: 3;
        .block-title{
          position: relative;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          color: #ffffff;
          font-size: 44px;
          text-align: center;
          margin-top: 140px;
        }
        .block-hr-gal {
          position: relative;
          color: #ffffff;
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: -0.3px;
          border: 1px solid #f44336;;
          padding-top: 17px;
          padding-bottom: 15px;
          padding-left: 55px;
          padding-right: 55px;
          margin-top: 36px;
          display: inline-block;
          &:hover {
            border: 1px solid #f44336;
            background: #f44336;
          }
        }
      }

      .gray-galery {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .4;
        background: #000002;
        -webkit-transition: .6s;
        transition: .6s;
      }

    }
  }
}

.container-our-team-big {
  position: relative;
  font-family: Roboto;
  .container-our-team-big-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 85px;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .description {
      width: 740px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
    }
    .items {
      padding-top: 70px;
      .item {
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 180px;
        img {
          display: inline-block;
          float: left;
        }
        .description {
          display: inline-block;
          float: left;
          width: 250px;
          padding-left: 25px;
          padding-top: 70px;
          color: #222222;
          font-family: Lato;
          font-style: italic;
          strong {
            font-weight: bold;
            font-style: normal;
            line-height: 80px;
          }
          h3 {
            margin-top: -29px;
            font-size: 14px;
            line-height: 20px;
            color: #777777;
          }
        }
      }
    }
  }
}

.container-touch {
  position: relative;
  .container-touch-wrapper {
    padding-top: 10px;
    width: 1170px;
    margin: 0 auto;
    height: 830px;
    h2 {
      font-size: 48px;
      font-weight: 400;
      text-align: left;
    }
    .form {
      .left, .right {
        display: inline-block;
        float: left;
      }
      .left {
        width: 410px;
        form {
          margin-top: 40px;
          text-align: left;
          textarea {
            padding: 15px;
            border: 1px solid #9e9e9e;
            width: 760px;
            height: 135px;
            resize: none;
            font-size: 14px;
          }
          input {
            padding: 15px;
            border: 1px solid #9e9e9e;
            width: 100%;
            height: 58px;
            font-size: 14px;
            margin-top: 5px;
            margin-right: 7px;
            margin-bottom: 29px;
          }
          input[type="submit"] {
            height: 45px;
            width: 150px;
            margin-top: 30px;
            font: bold 12px Roboto;
            text-transform: uppercase;
            font-size: 12px;
            cursor: pointer;
            background: #d32f2f;
            border: none;
            color: white;
            padding: 0 35px;
            line-height: 45px;
            &:hover {
              background: #f44336;
              color: #fff;
              border: none;
              cursor: pointer;
            }
          }
          textarea {
            width: 100%;
            height: 215px;
            resize: vertical;
          }
          label {
            position: absolute;
            width: 700px;
            margin-top: 15px;
            color: #515151;
          }
        }
      }
      .right {
        width: 420px;
        margin-left: 55px;
        padding-top: 41px;
        text-align: left;
        font-family: Lato;
        color: #4b4b4b;
        p {
          font-size: 18px;
          font-weight: 400;
        }
        h3 {
          font-size: 22px;
          font-weight: 400;
        }
      }
    }
  }
}

.container-plitka-padding {
  position: relative;
  .container-plitka-padding-wrapper {
    width: 1170px;
    height: 1150px;
    margin: 0 auto;
    .block-pictures {
      width: 1100px;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px;
      float: none;
      .item {
        position: relative;
        width: 350px;
        height: auto;
        margin-right: 30px;
        color: white;
        &:hover {
          img {
            transform: scale(1.15);
          }
        }
        img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          transform: scale(1.05);
        }
        .block-hr {
          position: absolute;
          margin-top: -25px;
          margin-left: -95px;
          left: 50%;
          top: 50%;
          z-index: 6;
          opacity: 0;
          transition: 0.5s;
        }
        .description {
          position: absolute;
          width: 180px;
          left: 82px;
          bottom: 25px;
          text-align: center;
          z-index: 2;
          h3 {
            left: 0;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 20px;
            line-height: 50px !important;
            text-transform: uppercase;
          }
          h4 {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .gradient {
          height: 137px !important;
          color: white;
          z-index: 3;
          h3 {
            position: absolute;
            width: 100%;
            top: 35px;
            line-height: 80px;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
          h4 {
            position: absolute;
            width: 100%;
            top: 97px;
            font-size: 13px;
            font-weight: 400;
          }
          i {
            &:before {
              font-size: 28px;
            }
          }
          .before {
            display: inline-block;
            width: 50%;
            float: left;
            float: left;
            font-family: FontAwesome;
            left: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: left;
            padding-left: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
          .after {
            display: inline-block;
            width: 50%;
            float: left;
            font-family: FontAwesome;
            right: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: right;
            padding-right: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
    .cont-block-hr {
      position: relative;
      text-align: center;
      margin-top: 40px;
      .block-hr {
        position: relative;
        color: #ffffff;
        background-color: #d32f2f;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -0.3px;
        border: 1px solid #d32f2f;
        padding-top: 17px;
        padding-bottom: 15px;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 27px;
        display: inline-block;
        &:hover {
          background-color: #f44336;
          border: 1px solid #f44336;
        }

      }
      i {
        font-family: FontAwesome;
        color: white;
        &.first {
          position: absolute;
          left: 20px;
          top: 16px;
        }
        &.second {
          position: absolute;
          right: 20px;
          top: 16px;
        }
      }
    }
  }
}

.wishes {
  h3 {
    text-transform: none !important;
  }
  button {
    height: 50px !important;
    width: 220px !important;
    line-height: 50px !important;
    font-size: 14px !important;
    text-align: center !important;
    font-weight: bold !important;
  }
}
.container-artist {
  position: relative;
  .container-artist-wrapper {
    width: 1070px;
    padding: 22px;
    border: 2px solid #dbdbdb;
    margin: 0 auto;
    margin-top: 40px;
    .carousel-c {
      display: inline-block;
      float: left;
      width: 420px;
      margin-right: 15px;
      .slider-block {
        float:left;
        width: 420px;
        .main-slide-conteiner{
          position: relative;
          display: block;
          float:left;
          width: 420px;
          height: 450px;
          .bg-main-slide{
            position: absolute;
            width: 420px;
            height: 450px;
            background-color: rgb(255, 255, 255);
          }
          .owl-carousel-product-page {
            position: relative;
            .item{
              .item-cont{
                position: relative;
                .img-main{
                  object-fit: contain;
                  max-width: 420px;
                  max-height: 450px;
                }
                .video-icon{
                  position: absolute;
                  display: block;
                  z-index: 1;
                  top: 160px;
                  left: 281px;
                  a{
                    img{
                      width: 98px;
                      height: 98px;
                    }
                  }

                }
              }
            }
            .owl-dots{
              display:  none;
              position: relative;
              width: 100%;
              text-align: center;
              margin-top: 14px;
              .owl-dot{
                display: inline-block;
                zoom: 1;
                span {
                  width: 8px;
                  height: 8px;
                  margin: 8px 8px;
                  border: 1px solid #8c8c8c;
                  display: block;
                  -webkit-backface-visibility: visible;
                  transition: opacity .2s ease;
                  border-radius: 35px;
                  &:hover {
                    background: #009be0;
                    border: 1px solid #009be0;
                  }
                }
                &.active{
                  span{
                    background: #009be0;
                    border: 1px solid #009be0;
                  }
                }
              }
            }
          }
        }
        .container-owl-thumbs {
          position: relative;
          display: block;
          width: 420px;
          height: 140px ;
          overflow: hidden;
          margin-top: -8px;
          margin-right: -1px;
          .elastislide-wrapper {
            padding: 10px 15px !important;
            background-color: inherit;
            &.elastislide-vertical{
              height: 440px !important;
              overflow: hidden;
            }
            &.elastislide-horizontal{
              height: 440px !important;
              overflow: hidden;
            }
            .elastislide-carousel {
              overflow: hidden;
              position: relative;
              ul {
                li {
                  width: 25% !important;
                  height: 100px;
                  overflow: hidden;
                  img {
                    width: 85px;
                  }
                }
              }
            }
          }
          .elastislide-prev{
            position: absolute;
            top: 55px;
            left: 0px;
            height: 29px;
            width: 29px;
            border: 1px solid #717171;
            font-size: 15px;
            text-align: center;
            border-radius: 0 !important;
            cursor: pointer;
            background: white;
            text-indent: 0px !important;
            &:hover{
              background-color: #d32f2f;
              color: white;
              border: none;
            }

            &:before{
              text-indent: 0px !important;
              position: absolute;
              top:7px;
              left: 8px;
              content: "\f053";
              font-family: FontAwesome;
              font-size: 15px;
            }

          }
          .elastislide-next {
            position: absolute;
            top: 55px;
            right: 0px;
            height: 29px;
            width: 29px;
            border: 1px solid #717171;
            font-family: FontAwesome;
            font-size: 15px;
            text-align: center;
            border-radius: 0 !important;
            cursor: pointer;
            background: white;
            text-indent: 0px !important;
            &:before {
              position: absolute;
              text-indent: 0px !important;
              content: "\f054" ;
              top: 7px;
              right: 8px;
              font-family: FontAwesome;
              font-size: 15px;
            }
            &:hover{
              background-color: #d32f2f;
              color: white;
              border: none;
            }
          }
          .owl-thumbs {
            //position: relative;
            //display: block;
            //overflow: hidden;
            //height: 440px !important;
            .owl-thumb-item {
              list-style-type: none;
              float: left;
              display: block;
              cursor: pointer;
              height: 100px;
              overflow: hidden;
              &:hover{

              }
              &.active {
                .oti-content {
                  border: 1px solid rgb(0, 155, 224);
                  &:before {
                    content: '';
                    z-index: 1;
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 155, 224, 0.051);
                  }
                }
              }
              .oti-content{
                position: relative;
                // border-radius: 2px;
                // background-color: rgb(255, 255, 255);
                //box-shadow: 0px 1px 0px 0px rgba(1, 2, 2, 0.1), 0px 1px 2px 0px rgba(1, 2, 2, 0.2);
                // width: 104px;
                //height: 72px;
                //box-sizing: border-box;
                .img-thumb {
                  height: 100px;
                  //position: relative;
                  //width: 100%;
                  //height: 100%;
                  //object-fit: contain;
                }
              }
            }

          }
        }
        .zoom {
          position: absolute;
          width: 35px;
          height: 35px;
          border: 1px solid #717171;
          right: 0;
          top: 400px;
          z-index: 3;
          cursor: pointer;
          &:hover {
            background: #717171;
            i {
              color: white;
            }
          }
          i {
            font-family: FontAwesome;
            margin-left: 10px;
            margin-top: 10px;
          }
        }
      }

    }
    .cart {
      display: inline-block;
      float: left;
      width: 635px;
      padding-left: 15px;
      box-sizing: border-box;

      .top {
        position: relative;
        height: 75px;
        width: 100%;
        border-bottom: 2px solid #dbdbdb;
        font: bold 35px Roboto;
        color: #515151;
        h2 {
          line-height: 60px;
        }
        .navigation {
          position: absolute;
          right: 0;
          top: 0;
          .item {
            position: relative;
            display: inline-block;
            float: left;
            height: 29px;
            width: 29px;
            border: 1px solid #717171;
            font-family: FontAwesome;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            &:hover {
              background: #d32f2f;
              color: white;
              border: 1px solid #d32f2f;
            }
            i {
              position: absolute;
              left: 8px;
              top: 0;
              line-height: 32px;
            }
            &:first-child {
              margin-right: 5px;
            }
            &:last-child {
              i {
                left: 10px;
              }
            }
          }
        }
      }

      .middle {
        margin-top: 20px;
        width: 100%;
        button {
          height: 35px;
          font: bold 12px Roboto;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 32px;
          cursor: pointer;
          &:hover {
            background: #f44336;
            color: #fff;
            border: none;
          }
          i {
            font-family: FontAwesome;
            font-size: 16px;
          }
        }
        .cart {
          width: 130px;
          padding-left: 12px;
          padding-right: 12px;
          background: #d32f2f;
          color: white;
          border: none;
        }
        .like {
          width:35px;
          line-height: 35px;
          border: 1px solid #717171;
          margin-left: 5px;
          background: white;
          &:hover {
            line-height: 37px;
          }
        }
      }
      .bottom {
        margin-top: 50px;
        height: 290px;
        border-bottom: 2px solid #dbdbdb;
        h3 {
          margin-bottom: 10px;
          font: bold 15px Roboto;
          color: #2a2a2a;
        }
        p {
          font-family: Lato;
          font-size: 14px;
          line-height: 20px;
          color: #676767;
        }
      }
      .social {
        height: 75px;
        padding-top: 40px;
        .item {
          width: 90px;
          height: 36px;
          display: inline-block;
          float: left;
          margin-right: 5px;
          background: white;
          border: 1px solid #717171;
          font-family: Roboto;
          font-size: 12px;
          line-height: 36px;
          text-align: center;
          color: #888;
          cursor: pointer;
          i {
            font-family: FontAwesome;
            font-size: 14px;
          }
          &.w-70 {
            width: 70px;
          }
          &.w-80 {
            width: 80px;
          }
          &.facebook {
            height: 38px;
            line-height: 38px;
            background: #3b5998;
            border: none;
            color: white;
          }
        }
      }
    }
  }
}

.container-video {
  position: relative;
  margin-top: -40px;
  .container-video-wrapper {
    width: 1188px;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 2px solid #dbdbdb;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .video {
      width: fit-content;
      margin: 0 auto;
      margin-top: 80px;
      height: 800px;
      cursor: pointer;
    }
  }
}

.container-biography {
  position: relative;
  .container-biography-wrapper {
    width: 1118px;
    margin: 0 auto;
    height: 800px;
    padding: 0 35px;
    border-bottom: 2px solid #dbdbdb;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
  }
  .block-title {
    margin-bottom: 80px;
  }
  p {
    width: 85%;
    line-height: 25px;
  }
  .left {
    display: inline-block;
    width: 50%;
    float: left;
    color: #606060;
    font-size: 16px;
    font-family: Lato;
  }
  .right {
    display: inline-block;
    width: 50%;
    float: left;
  }
}

.container-testimonials {
  position: relative;
  .container-testimonials-wrapper {
    width: 1118px;
    margin: 0 auto;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .block-title {
      margin-bottom: 50px;
    }
    .comma {
      text-align: center;
    }
    .description {
      padding-top: 30px;
      p {
        line-height: 30px;
        text-align: center;
        color: #2d2c2c;
        font-family: Lato;
        font-size: 16px;
        font-weight: 100;
      }
    }
  }

}

.container-add-cart {
  position: relative;
  background: #d32f2f;
  transition: .5s;
  &.white {
    background: white;
  }
  .container-add-cart-wrapper {
    width: 100%;
    padding: 75px 0;
    margin: 0 auto;
    text-align: center;
    .block-title {
      padding-top: 0;
      .line {
        margin-bottom: 5px;
      }
      .decor {
        background-color: white;
        transition: .5s;
        &.hover{
          background-color: #525252;
        }
      }
      h3 {
        color: white;
        font: bold 42px Roboto;
        transition: .5s;
        &.hover{
          color: #525252;
        }
      }
    }
    button {
      position: relative;
      height: 85px;
      width: 320px;
      line-height: 85px;
      margin-top: 40px;
      padding: 0 35px;
      text-align: right;
      text-transform: uppercase;
      background: white;
      color: #d32f2f;
      font-family: Roboto;
      font-size: 30px;
      border: none;
      cursor: pointer;
      transition: .5s;
      &:hover {
        color: white;
        background: #f44336;
      }
      i {
        position: absolute;
        left: 35px;
        top: 0;
        font-family: FontAwesome;
        font-size: 40px;
      }
    }
  }
}

.container-map {
  position: relative;
  height: 435px;
  background: url("../images/map.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container-also-like {
  position: relative;
  .container-also-like-wrapper {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    .block-title {
      padding-top: 80px;
      .line {
        margin: 0;
        height: 28px;
        line-height: 20px;
        h3 {
          font-size: 30px;
          text-transform: none;
          font-weight: 400;
          &:hover {
            cursor: default;
          }
        }
      }
    }
    .block-pictures {
      width: 1100px;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px;
      float: none;
      .item {
        position: relative;
        width: 275px;
        height: 275px;
        color: white;
        &.vertical {
          height: 550px;
          img {
            margin-left: -280px;
          }
        }
        &.horizontal {
          width: 550px;
          .description {
            left: 52px;
            width: 450px;
          }
        }

        img {
          transform: scale(1.05);
        }
        .block-hr {
          position: absolute;
          margin-top: -25px;
          margin-left: -95px;
          left: 50%;
          top: 50%;
          z-index: 6;
          opacity: 0;
          transition: 0.5s;
        }
        .description {
          position: absolute;
          width: 180px;
          left: 50px;
          bottom: 25px;
          text-align: center;
          z-index: 2;
          h3 {
            left: 0;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 20px;
            line-height: 50px !important;
            text-transform: uppercase;
          }
          h4 {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .gradient {
          height: 137px !important;
          color: white;
          z-index: 3;
          i {
            &:before {
              font-size: 28px;
            }
          }
          .before {
            display: inline-block;
            width: 50%;
            float: left;
            float: left;
            font-family: FontAwesome;
            left: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: left;
            padding-left: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
          .after {
            display: inline-block;
            width: 50%;
            float: left;
            font-family: FontAwesome;
            right: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: right;
            padding-right: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
}

.container-search-results {
  position: relative;
  .container-search-results-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .block-title {
      h3 {
        color: #303030;
      }
    }
    h4 {
      margin-top: 15px;
      color: #515151 !important;
      font-size: 35px;
    }
    h5 {
      font-size: 20px;
      font-style: italic;
      font-weight: 100;
      color: #606060;
      text-transform: none;
    }

    .block-pictures {
      width: 1100px;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 95px;
      float: none;
      .item {
        position: relative;
        width: 275px;
        height: 275px;
        color: white;
        &.vertical {
          height: 550px;
          img {
            margin-left: -280px;
          }
        }
        &.horizontal {
          width: 550px;
          .description {
            left: 52px;
            width: 450px;
          }
        }
        img {
          transform: scale(1.05);
        }
        .block-hr {
          position: absolute;
          margin-top: -25px;
          margin-left: -95px;
          left: 50%;
          top: 50%;
          z-index: 6;
          opacity: 0;
          transition: 0.5s;
        }
        .description {
          position: absolute;
          width: 180px;
          left: 50px;
          bottom: 25px;
          text-align: center;
          z-index: 2;
          h3 {
            left: 0;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 20px;
            line-height: 50px !important;
            text-transform: uppercase;
          }
          h4 {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
            color: white !important;
          }
        }
        .gradient {
          height: 137px !important;
          color: white;
          z-index: 3;
          i {
            &:before {
              font-size: 28px;
            }
          }
          .before {
            display: inline-block;
            width: 50%;
            float: left;
            float: left;
            font-family: FontAwesome;
            left: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: left;
            padding-left: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
          .after {
            display: inline-block;
            width: 50%;
            float: left;
            font-family: FontAwesome;
            right: 20px;
            top: 0;
            color: white;
            cursor: pointer;
            font-size: 35px;
            font-weight: 100;
            line-height: 214px;
            text-align: right;
            padding-right: 20px;
            margin-top: -5px;
            box-sizing: border-box;
            i {
              opacity: .5;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
}

.container-new-header {
  position: relative;
  height: 373px;
  background: url(../images/posts/header.jpg);
  background-position: center;
  .gray {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
  }
  .container-new-header-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-family: Roboto;
    box-sizing: border-box;
    h1 {
      position: relative;
      display: block;
      margin-top: 32px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 44px;
      color: white;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        display: block;
        left: 355px;
        top: 37px;
        height: 15px;
        width: 470px;
        background: #f44336;
        z-index: -1;
      }
    }
    h2 {
      font-size: 20px;
      color: white;
      font-weight: 300;
    }
    p {
      margin-top: 33px;
      padding-left: 240px;
      padding-right: 240px;
      line-height: 24px;
      color: white;
    }
    .information {
      position: relative;
      margin-top: 40px;
      padding-left: 190px;
      text-align: left;
      span {
        font-size: 20px;
        color: white;
      }
      .numbers {
        position: absolute;
        right: 190px;
        top: 0;
        i {
          margin-right: 8px;
          font-family: FontAwesome;
          color: white;
          font-size: 25px;
        }
      }
    }
  }
}

.container-post {
  position: relative;
  font-family: Lato;
  .container-post-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 35px;
    .left {
      display: inline-block;
      float: left;
      width: 762px;
      .description {
        margin-top: 40px;
        font-family: Lato;
        font-size: 16px;
        color: #606060;
        p {
          margin-bottom: 30px;
          line-height: 24px;
        }
        blockquote {
          padding: 16px 26px;
          margin-left: 35px;
          margin-bottom: 30px;
          line-height: 24px;
          background: #e9f0fd;
          border-left: 5px solid #f44336;
        }
      }
      .bottom-panel {
        margin-top: 55px;
        margin-bottom: 45px;
        padding-top: 11px;
        padding-bottom: 11px;
        border-top: 1px solid #9e9e9e;
        border-bottom: 1px solid #9e9e9e;
        font-size: 12px;
        color: #454545;
      }
    }
    .right {
      display: inline-block;
      float: left;
      width: 285px;
      margin-left: 123px;

      form {
        width: fit-content;
        margin: 0 auto;
        font-family: Lato;
        :nth-child(4) {
          margin-right: 0 !important;
        }
        input {
          display: none;
          &:checked {
            width: 142px !important;
            +label {
              height: 26px;
              line-height: 26px;
              width: 142px !important;
              background: #f44336;
              border: none;
              color: white;
              &.first, &.last {
                width: 141px !important;
              }
            }
          }
        }
        .btn {
          display: inline-block;
          float: left;
          width: 141px;
          height: 24px;
          line-height: 24px;
          background: white;
          text-align: center;
          cursor: pointer;
          border: 1px solid #d6d6d6;
          font-size: 14px;
          font-weight: 400;
          &.first {
            border-right: none;
            border-top-left-radius: 5px;
            &:hover {
              width: 142px;
            }
          }
          &.last {
            border-left: none;
            border-top-right-radius: 5px;
            &:hover {
              width: 142px;
            }
          }
          &:hover {
            height: 26px;
            line-height: 26px;
            width: 142px;
            background: #f44336;
            border: none;
            color: white;
          }
        }
      }

      .items {
        margin-left: 1px;
        .item {
          padding: 25px 15px;
          background: #f8fcfe;
          border: 1px solid #ebebeb;
          border-top: none;
          img {
            display: inline-block;
            float: left;
            width: 30%;
          }
          .description {
            position: relative;
            display: inline-block;
            float: left;
            width: 70%;
            padding-left: 15px;
            box-sizing: border-box;
            font-family: Lato;
            h3 {
              font-weight: bold;
              font-size: 18px;
              color: #717171;
            }
            span {
              position: absolute;
              top: 62px;
              left:15px;
              font-weight: 100;
              font-size: 14px;
              color: #777;
            }
          }
        }
      }

      .tags {
        h3 {
          margin-top: 50px;
          margin-bottom: 18px;
          font-size: 16px;
          color: #454545;
          font-weight: bold;
        }
        .tag {
          display: inline-block;
          float: left;
          margin-right: 9px;
          margin-bottom: 9px;
          padding: 6px 7px;
          font-size: 12px;
          border: 1px solid #d6d6d6;
          color: #606060;
        }
      }
    }
  }
}

.container-share {
  position: relative;
  height: 75px;
  background: #ff0000;
  font-family: Lato;
  .container-share-wrapper {
    width: 1170px;
    margin: 0 auto;
    span {
      line-height: 75px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      margin-right: 165px;
    }
    ul {
      position: relative;
      display: inline;
      li {
        position: relative;
        display: inline;
        a {
          padding-left: 24px;
          &:before {
            position: absolute;
            left: 0px;
            top: -5px;
            line-height: 26px;
            font-family: FontAwesome;
            font-size: 45px;
            color: white;
          }
        }
        &#youtube {
          margin-right: 11px;
          :before {
            content: '\f16a';
            font-size: 62px;
          }
        }
        &#inst {
          margin-right: 40px;
          :before {
            content: '\f16d';
          }
        }
        &#fbook {
          margin-right: 45px;
          :before {
            content: '\f082';
          }
        }
        &#twit {
          margin-right: 45px;
          :before {
            content: '\f081';
          }
        }
        &#linkedin {
          :before {
            content: '\f08c';
          }
        }
      }
    }
  }
}

.container-comment {
  position: relative;
  font-family: Lato;
  .container-comment-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 160px;
    h2 {
      margin-bottom: 40px;
      font-size: 48px;
      color: #515151;
    }
    form {
      textarea {
        padding: 15px;
        border: 1px solid #9e9e9e;
        width: 760px;
        height: 135px;
        resize: none;
        font-size: 14px;
      }
      input {
        padding: 15px;
        border: 1px solid #9e9e9e;
        width: 250px;
        height: 30px;
        font-size: 14px;
        margin-top: 5px;
        margin-right: 7px;
      }
      input[type="checkbox"] {
        width: 12px;
        height: 12px;
        margin-top: 20px;
      }
      label {
        position: absolute;
        width: 700px;
        margin-top: 15px;
        color: #515151;
      }
    }
    button {
      height: 35px;
      margin-top: 30px;
      font: bold 12px Roboto;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
      background: #d32f2f;
      border: none;
      color: white;
      padding: 0 35px;
      line-height: 35px;
      &:hover {
        background: #f44336;
        color: #fff;
        border: none;
      }
      i {
        font-family: FontAwesome;
        font-size: 16px;
      }
    }
  }
}

.container-home-events {
  position: relative;
  .container-home-events-wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 798px;
    .block-info{
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding-left: 34px;
      padding-right: 34px;
      &:hover {
        .block-title {
          h3 {
            &:after {
              width: 101%;
            }
          }
        }
      }
      .block-title{
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: rgb(48, 48, 48);
        font-size: 36px;
        margin-bottom: 22px;
        &.padding-left {
          padding-left: 20px;
        }
        .line {
          margin: 0 !important;
        }
      }
      .block-text{
        color: #606060;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        width: 475px;
        &.padding-left {
          padding-left: 20px;
        }
        p{
          margin-bottom: 24px;
        }
      }

    }
    .block-pictures {
      width: 50%;
    }
  }
}

.block-pictures {
  float: left;
  .item {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    height: 266px;
    overflow: hidden;
    cursor: pointer;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    .gradient {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 100%;
      background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
      transition: .6s;
      text-align: center;
      h3 {
        line-height: 210px;
        color: white;
      }
    }
    .description{
      z-index: 5 !important;
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }
      .gray {
        opacity: 0;
      }
      .gradient {
        transform: translate(0, -100%);
      }
      .block-hr {
        opacity: 1 !important;
      }
    }
    &.big {
      width: 100%;
    }
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      -webkit-transition: .6s;
      transition: .6s;
    }
  }
}


.container-our-team{
  position: relative;
  background-color: #e9f0fd;
  border-bottom: 1px solid #83868c;
  .container-our-team-wrapper{
    width: 1170px;
    height: 683px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .line {
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .block-title {
      display: block;
      color: #515151;
      font-size: 42px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      padding-top: 100px;
    }

    .owl-carousel-our-team{
      position: relative;
      margin-top: 78px;
      margin-left: 30px;
      margin-right: 30px;

      .item{
        position: relative;
        height: 322px;
        width: 255px;
        margin-right: 30px;
        margin-left: 0px;
        .img-team{
          position: absolute;
          top: 0px;
          right: 0px;
        }
        .black-name {
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          height: 40px;
          background-color: #323232;
          color: #ffffff;
          font-size: 18px;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          text-align: left;
          padding-top: 9px;
          box-sizing: border-box;
          text-indent: 12px;
          transition: .5s;
          &:after {
            position: absolute;
            top: 0px;
            right: 0px;
            content: ' ';
            height: 40px;
            width: 54px;
            background-color: #8c8c8c;
          }
        }
        .block-hover{
          display: none;
          border-color: rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          opacity: 0.549;
          position: absolute;
          width: 235px;
          height: 262px;
          top: 10px;
          left: 10px;
        }
        .block-hr {
          position: absolute;
          display: none;
          left: 45px;
          right: 45px;
          top: 115px;
          padding: 15px 10px;
          background-color: #323232;
          border: 1px solid #ffffff;
          opacity: 1;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
          text-decoration: none;
        }
        &:hover{
          .black-name {
            background-color: #d32f2f;
            &:after {
              background-color: #e68a8a;
            }
          }
          .block-hover{
            display: block;
          }
          .block-hr{
            display: block;
          }
        }
      }
      .owl-prev {
        position: absolute;
        left: -30px;
        top: 108px;
        height: 94px;
        width: 30px;
        &:after {
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f104';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #0f0101;
        }
      }
      .owl-next{
        position: absolute;
        right: 30px;
        top: 108px;
        height: 94px;
        width: 30px;
        &:after {
          content: '';
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f105';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #0f0101;
        }
      }
      .owl-dots{
        display: none;
      }

    }


  }
}

.container-faq {
  position: relative;
  font-family: Roboto;
  .container-faq-wrapper {
    width: 1170px;
    margin: 0 auto;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .galery {
      position: relative;
      text-align: center;
      font-family: Lato;
      font-weight: bold;
      font-size: 16px;
      color: #2d2c2c;
      margin-bottom: 130px;
      h3 {
        line-height: 105px;
      }
      span {
        display: block;
        width: 950px;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        font-weight: 100;
      }
      .navigation {
        position: absolute;
        left: 83px;
        top: 68px;
        .item {
          position: relative;
          display: inline-block;
          float: left;
          height: 29px;
          width: 29px;
          border: 1px solid #bbbbbb;
          font-family: FontAwesome;
          font-size: 15px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background: #d32f2f;
            color: white;
            border: 1px solid #d32f2f;
            i {
              color: white;
            }
          }
          i {
            position: absolute;
            left: 8px;
            top: 0;
            line-height: 32px;
            color:#bbbbbb;
          }
          &:first-child {
            margin-right: 941px;
          }
          &:last-child {
            i {
              left: 10px;
            }
          }
        }
      }
    }
  }
}

.container-our-partner{
  position: relative;
  background-color: #e9f0fd;
  .container-our-partner-wrapper{
    width: 1170px;
    height: 482px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    &:hover {
      .block-title {
        h3 {
          &:after {
            width: 101%;
          }
        }
      }
    }
    .line {
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .block-title{
      display: block;
      color: #515151;
      font-size: 42px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      padding-top: 100px;
    }
    .decor{
      position: relative;
      display: block;
      background-color: #f44336;
      height: 7px;
      width: 160px;
      margin: 0 auto;
      margin-top: 29px;
    }

    .owl-carousel-our-partner{
      position: relative;
      margin-top: 78px;
      margin-left: 30px;
      margin-right: 30px;
      .item{
        border: 1px solid #d32f2f;
        position: relative;
        height: 147px;
        width: 253px;
        margin-right: 30px;
        margin-left: 0px;
        .img-team{
          position: relative;
          top: 0px;
          right: 0px;
          width: 253px;
          height: 147px;
        }
      }
      .owl-prev {
        position: absolute;
        left: -30px;
        top: 28px;
        height: 94px;
        width: 30px;
        &:after {
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f104';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #f6f9fe;
        }
      }
      .owl-next{
        position: absolute;
        right: 30px;
        top: 28px;
        height: 94px;
        width: 30px;
        &:after {
          content: '';
          position: absolute;
          left: 7px;
          top: 24px;
          font-family: FontAwesome;
          font-size: 42px;
          content: '\f105';
          color: #8c8c8c;
        }
        &:hover{
          background-color: #f6f9fe;
        }
      }
      .owl-dots{
        display: none;
      }

    }


  }
}

.container-404 {
  position: relative;
  background-color: white;
  font-family: Roboto;
  .container-404-wrapper {
    width: 1170px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    color: #212121;
    h1 {
      margin-top: 200px;
      font-size: 300px;
      font-weight: bold;
    }
    h2 {
      color: #bdbdbd;
      font-size: 24px;
    }
  }
}


.container-footer-block{
  position: relative;
  z-index: 3;
  background-color: #363636;
  font-family: 'Roboto', sans-serif;
  .container-footer-block-wrapper{
    position: relative;
    height: 336px;
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
    h2 {
      color: #555;
      font-weight: 700;
      font-size: 18px;
    }
    ul {
      margin-top: 20px;
      color: #848484;
      list-style: none;
      li {
        :hover {
          color: #d32f2f;
        }
      }
    }
    a {
      line-height: 30px;
      text-decoration: none;
      color: inherit;
    }
    #col-1 {
      position: absolute;
      left: 125px;
    }
    #col-2 {
      position: absolute;
      left: 315px;
    }
    #col-3 {
      position: absolute;
      left: 505px;
      li {
        a {
          padding-left: 24px;
          &:before {
            position: absolute;
            left: 0px;
            line-height: 26px;
            font-family: FontAwesome;
            font-size: 16px;
          }
        }
        &#youtube {
          :before {
            content: '\f16a';
          }
        }
        &#inst {
          :before {
            content: '\f16d';
          }
        }
        &#fbook {
          :before {
            content: '\f09a';
          }
        }
        &#twit {
          :before {
            content: '\f099';
          }
        }
        &#linkedin {
          :before {
            content: '\f08c';
          }
        }
      }
    }
    #col-4 {
      position: absolute;
      left: 790px;
      h2 {
        color: #fff;
      }
      form {
        input {
          height: 45px;
          width: 255px;
          margin-top: 15px;
          padding-left: 18px;
          background: #363636;
          border: 1px solid white;
          color: white;
          font-size: 14px;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
          }

          &::-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
          }
          &.submit {
            width: 150px;
            padding-left: 0;
            background: #f44336;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.container-filter-news-block {
  position: relative;
  font-family: 'Roboto', sans-serif;
  .container-filter-news-wrapper {
    position: relative;
    padding: 45px 0;
    width: 1170px;
    margin: 0 auto;
    input {
      display: none;
      &:checked {
        +label {
          background: #f44336;
          color: white;
        }
      }
    }
    form {
      width: fit-content;
      margin: 0 auto;
      :nth-child(4) {
        margin-right: 0 !important;
      }
      input {
        display: none;
        &:checked {
          +label {
            height: 42px;
            line-height: 42px;
            width: 110px;
            background: #f44336;
            border: none;
            color: white;
            &.first, &.last {
              width: 111px;
            }
          }
        }
      }
      .btn {
        display: inline-block;
        float: left;
        width: 110px;
        height: 40px;
        line-height: 40px;
        background: white;
        text-align: center;
        cursor: pointer;
        border: 1px solid #d6d6d6;
        font-size: 14px;
        font-weight: 400;
        &.first {
          border-right: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          &:hover {
            width: 111px;
          }
        }
        &.last {
          border-left: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          &:hover {
            width: 111px;
          }
        }
        &:hover {
          height: 42px;
          line-height: 42px;
          width: 110px;
          background: #f44336;
          border: none;
          color: white;
        }
      }
    }
  }
}
footer {
  position: relative;
  z-index: 3;
  .container-footer {
    background-color: #000000;
    .container-footer-wrapper {
      position: relative;
      height: 88px;
      width: 1170px;
      margin: 0 auto;
      h3 {
        line-height: 88px;
        color: #525252;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans';
      }
    }
  }
}



.select2-dropdown {
  background-color: white;
  border: 1px solid #d6d6d6 !important;
  border-top: none !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}
.select2-container--default {
  ul {
    li {
      font-family: Roboto;
      font-size: 14px !important;
      font-weight: 100;
      color: #444 !important;
      padding-left: 8px;
      &:hover {
        background: #dedede;
      }
    }
  }
  .select2-results__option--highlighted {
    background: #dedede !important;
  }
  .select2-results__option {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
}



.pre-cont-carousel-chinese-dance-testimonials{
  text-align: center;
  .pre-carousel-chinese-dance-testimonials-block{
    display: inline-block;
    .pre-name{
      color: #f44336;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-top: 33px;
    }
    .pre-position{
      color: #bbbbbb;
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: center;
      margin-top: 11px;
    }
    .pre-image-block{
      margin-top: 26px;
      margin-bottom: 31px;
      box-sizing: border-box;
      position: relative;
      height: 163px;
      width: 163px;
      .pre-image{
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        position:absolute;
        z-index: 1;
        height: 163px;
        width: 163px;
        object-fit: cover;
        border: 11px solid #fdd9d7;
        border-radius: 50%;

      }
      .active-face{
        position: absolute;
        left: 11px;
        top: 11px;
        height: 137px;
        width: 137px;
        z-index: 3;
        border: 2px solid #f44336;
        border-radius: 50%;

      }

    }
  }
}
.cont-carousel-chinese-dance-testimonials{
  margin-bottom: 100px;
  .owl-carousel-chinese-dance-testimonials{
    position: relative;
    width: 392px;
    margin: 0 auto;
    .item{
      box-sizing: border-box;
      position: relative;
      height: 68px;
      width: 68px;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer;
      margin-top: 20px;
      .img-face{
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        position:absolute;
        z-index: 1;
        height: 68px;
        width: 68px;
        object-fit: contain;
        border: 5px solid #fddad7;
        border-radius: 50%;
      }
      .active-face{
        position: absolute;
        left: 5px;
        top: 5px;
        height: 56px;
        width: 56px;
        z-index: 3;
        border: 1px solid #f04f43;
        border-radius: 50%;
        display: none;
      }
      &.active{
        transition:all 0.3s ease;
        margin-top: 7px;
        .active-face{
          display: block;
        }
      }
    }
    .owl-prev {
      position: absolute;
      left: -48px;
      top: 36px;
      height: 31px;
      width: 31px;
      border: 1px solid #bbbbbb;
      &:after {
        position: absolute;
        left: 9px;
        top: -1px;
        font-family: FontAwesome;
        font-size: 30px;
        content: '\f104';
        color: #bbbbbb;
      }
      &:hover{
        background-color: #f44336;
        border: 1px solid #f44336;
        &:after {
          color: white;
        }
      }
    }
    .owl-next{
      position: absolute;
      right: -38px;
      top: 36px;
      height: 31px;
      width: 31px;
      border: 1px solid #bbbbbb;
      &:after {
        content: '';
        position: absolute;
        left: 11px;
        top: -1px;
        font-family: FontAwesome;
        font-size: 30px;
        content: '\f105';
        color: #bbbbbb;
      }
      &:hover{
        background-color: #f44336;
        border: 1px solid #f44336;
        &:after {
          color: white;
        }
      }
    }
    .owl-dots{
      display: none;
    }

  }
}







